hr {
    border: transparent;
    border-top: 1px solid #9797973f;
}

.filter-bar-individual {
    border: 1px solid #363A4F;
}

.shared-dropdown .wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    cursor: pointer;
}

.filter-bar-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-bar-individual {
    width: 200px;
    margin: 10px 0;
}

.shared-dropdown div img {
    width: 20px;
    height: 20px;
}

.shared-dropdown div p {
    margin: 0 0 0 5px;
    width: 150px;
    font-weight: 300;
}

.shared-dropdown .arrow {
    width: 15px;
    height: 10px;
    margin-top: 10px;
}

.sort-drop {
    width: 200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sort-drop p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    text-align: left;
}

.shared-dropdown {
    position: relative;
}

.dropdown-list {
    position: absolute;
    background-color: white;
    z-index: 99;
    width: 100%;
    box-shadow: 0 9px 18px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid #363A4F;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.dropdown-list div {
    padding: 10px;
    border-bottom: 1px solid #9797973f;
    cursor: pointer;
    font-weight: 300;
}

.dropdown-list div:hover {
    border-left: 5px solid var(--orange);
}


.sort-list-drop {
    position: absolute;
    background-color: white;
    box-shadow: 0 9px 18px -8px rgba(0, 0, 0, 0.406);
    border: 1px solid rgba(54, 58, 79, 0.084);
}
.sort-list-drop div {
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #9797973f;
}


@media screen and(min-width:1000px) {
    .filter-bar-individual {
        margin: 10px 20px;
    }
    .sort-drop {
        width: 100px;
    }
}
