.workout-card {
  width: 100%;
  height: 262px;
  margin: 30px 0px;
  position: relative;
}
.workout-card h1,
.workout-card h5 {
  color: white;
  font-weight: bolder;
  text-align: center;
}
.workout-card h5 {
  font-weight: normal;
  font-style: italic;
}

.workout-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.workout-social {
  background-color: var(--second-green);
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
}
.workout-social div {
  margin: 0px 10px;
  display: flex;
}
.workout-social div p {
  color: white;
  margin: 0px;
}
.workout-social div img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
}
.hover-overlay {
  height: 0px;
}
.hover-overlay:hover {
  background: var(--second-green) !important;
  height: 262px;
  transition: height 0.5s ease-in;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .workout-card {
    background-repeat: no-repeat;
    margin: 30px auto;
    width: 363px;
  }
}

@media screen and (min-width: 1000px) {
  .workouts-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
