
.workout-card{
    border: 1px solid rgba(164,164,179,.25);
    margin: 20px 0px;
    border-radius: 4px;
    padding: 10px;
}

.workout-card .workout-header{
    display: flex;
    justify-content: center;
    position: relative;
}

.workout-card .workout-header img{
    width: 100%;
    margin: 0 auto;
}
.workout-card .workout-header p{
    position: absolute;
    color: white;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

.workout-card .workout-middle{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.workout-interaction{
    display: flex;
}
.workout-interaction img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.workout-interaction div{
    display: flex;
    padding: 0px 10px;
}
.workout-card .workout-middle p{
    margin: 0px;
    font-weight: 800;
}
.workout-card .workout-interaction div p{
    margin: 0px;
    margin-left: 5px;
}

.workout-footer .tags{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.workout-footer .tags div{
    border-radius: 4px;
    border: 1px solid rgba(164,164,179,.25);
    padding: 5px;
    margin: 0px 10px 10px 0px;
}
.workout-footer .author span{
    color: var(--blueish);
    font-weight: 800;
}
.workout-footer .author{
    margin: 0px;
}

.single-workout{
    background-color: white;
}

.sw-header{
    position: relative;
}
.sw-header h1{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    text-align: center;
}
.sw-rating p{
    margin: 0px;
    font-weight: 800;
    font-size: 18px;
    margin-left: 10px;
}
.sw-rating{
    width: 80%;
    display: flex;
}
.sw-body,
.sw-media{
    display: flex;
}
.sw-media{
    margin-left: 10px;
    margin-top: 5px;
}
.sw-media img{
    width: 20px;
    height: 20px;
}
.sw-media p{
    margin: 0px;
    font-size: 15px;
    font-weight: 800;
    margin-left: 5px;
}
.sw-media div{
    display: flex;
    margin-right: 10px;
}

.sw-description p {
    margin: 0px;
    font-size: 18px;
}
.sw-description{
    margin-top: 20px;
}

.sw-workout-summary h5{
    background-color: var(--blueish);
    color: white;
    padding: 10px 0px;
}

.sw-workout-summary p{
    margin: 0px;
    font-size: 18px;
}
.sw-workout-summary div{
    margin: 20px 0px;
}
.sw-comments{
    margin: 30px 0px;
}
.sw-comments h5{
    color: var(--blueish);
    font-weight: 800;
}
.sw-comments textarea{
    border: 1px solid rgba(164,164,179,.25);
    resize: none;
    height: 90px;
    border-radius: 4px;
}
.sw-comments button{
    border: transparent;
    background-color: var(--blueish);
    color: white;
    margin: 10px 0px;
    font-weight: 800;
    font-size: 18px;
    padding: 10px 0px;
    border-radius: 4px;
}
.sw-comments div{
    display: flex;
    flex-direction: column;
}

.sw-comments .comments{
    background-color: rgba(164,164,179,.25);
    padding: 10px;
    border-radius: 4p;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px;
}

.create-workout{
    background-color: white;
    padding: 10px;
}

.cw-header{
    display: flex;
    padding: 40px 0px;
}
.cw-header img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.cw-header h1{
    color: var(--blueish);
    font-weight: 800;
    margin: 0px;
}
.cw-header p{
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}

.form-field{
    margin: 20px 0px;
}

.next p{
    font-size: 20px;
    cursor: pointer;
    margin: 0px;
    margin-right: 10px;
}
.next{
    display: flex;
    justify-content: flex-end;
    padding: 30px 0px;
}
.next img{
    width: 15px;
    height: 27px;
    cursor: pointer;
}
.adding-section{
    display: flex;
}
.adding-section button{
    width: 80px;
    background-color: var(--blueish);
    color: white;
    font-size: 18px;
    border: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 800;
}
.adding-section button:disabled{
    background-color: gray;
}
.adding-section input{
    width: 300px;
}

.form-field textarea{
    border: transparent;
    background-color: var(--pale-grey);
    resize: none;
    height: 120px;
    border-radius: 4px;
    padding: 10px;
}
.form-field textarea::placeholder{
    color: lightgray;
}

.authorField .selection-dropdown .dropdown-list{
    height: 90px;
}

@media only screen and (min-width: 700px){
    .single-workout {
        background-color: white;
        width: 500px;
        margin: 0 auto;
        padding: 0px 5px 10px;
    }
    .sw-rating p{
        margin-top: 3px;
    }
    .sw-header img{
        width: 100%;
    }
    .create-workout-form .separator{
        display: flex;
    }
    .create-workout {
        width: 700px;
        margin: 0 auto;
    }
    .create-workout-form .separator .form-field{
        margin-right: 30px;
        width: 40%;
    }
    .create-workout-form .separator .selection-dropdown .dropdown-list{
        width: 270px;
    }
    .form-field{
        width: 80%;
    }
    .form-field .selection-dropdown .dropdown-list{
        width: 510px;
    }
    .create-workout{
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 1000px){
    .workout-card{
        width: 366px;
        margin: 20px 5px;
    }
    .workouts-page{
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }
}


@media only screen and (min-width: 1200px){
    .workout-card{
        margin: 20px 10px;
    }
    .single-workout{
        width: 700px;
    }
    .sw-rating{
        width: 90%;
    }
    .sw-description{
        justify-content: space-around;
    }
    

}